@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #808080;
}

.drag-image {
  border: 1px dashed #808080;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-image.active {
  border: 2px solid #808080;
}

.drag-image .icon {
  font-size: 30px;
  color: #808080;
}

.drag-image h6 {
  font-size: 20px;
  font-weight: 300;
  color: #808080;
}

.drag-image span {
  font-size: 14px;
  font-weight: 300;
  color: #808080;
  margin: 10px 0 15px 0;
}

.drag-image .btn {
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 300;
  border: none;
  outline: none;
  background: transparent;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.drag-image button:hover {
  background-color: #f2f2f2;
  color: #808080;
}

.drag-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

table th {
  text-align: center;
  font-size: 12px;
}

table td {
  text-align: center;
  font-size: 12px;
}

.bg-highlight {
  background-color: #f2f2f2;
  color: white;
}

.bg-gray {
  background-color: white;
  color: #808080;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
