{% extends "base.html" %}

{% block content %}




<div id="app" class="container p-5">




    <div class="row mb-3">
        <h6 class="display-6">Amira</h6>
        <p>CSV > Dataframe > Database</p>
    </div>

    <div v-show="msg" class="row">
        <div class="col-12">
            <div v-if="status == 'notok'" class="alert alert-danger p-3 small " role="alert">
                [[msg]]
            </div>
            <div v-if="status == 'ok'" class="alert alert-success p-3 small " role="alert">
                [[msg]]
            </div>
        </div>
    </div>


    <div class="row ">
        <div class="col-6">
            <div class="drag-image" @dragover="dragover" @dragleave="dragleave" @drop="drop">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <label>Drag & Drop File Here</label>
                <label>or</label>
                <label for="file-upload" class="btn btn-sm">
                    <i aria-hidden="true" class="mr-1 fas fa-file-upload"></i>
                    Browse File</label>
                <input id="file-upload" type="file" @change="on_change" accept=".csv" hidden />

            </div>

        </div>
        <div class="col-6">

            <div v-if="table_meta.length != 0" class="table-responsive">
                <table class="table table-sm  table-hover align-middle">
                    <thead class="">
                        <tr>
                            <th class="align-center">column</th>
                            <th class="align-center">datatype</th>

                            <th class="align-center">count</th>
                            <th class="align-center">filled</th>
                            <th class="align-center">percentage</th>

                            <th class="align-center">datatype</th>
                            <th class="align-center">delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in table_meta">
                            <td>[[row.slice(0, 1)[0] ]]</td>
                            <td>[[ row.slice(1, 2)[0] ]]</td>
                            <td>[[ row.slice(2, 3)[0] ]]</td>
                            <td>[[ row.slice(3, 4)[0] ]]</td>
                            <td>[[ row.slice(4, 5)[0] ]]</td>
                            <td>
                                <select @change="change_column_type( [[row.slice(0, 1)[0] ]], $event)"
                                    v-bind:value="[[ row.slice(1, 2)[0] ]]" class="form-control form-control-sm">
                                    <option value="VARCHAR">VARCHAR</option>
                                    <option value="INTEGER">INTEGER</option>
                                    <option value="FLOAT">FLOAT</option>
                                </select>
                            </td>

                            <td>
                                <a href="#" data-toggle="modal" data-target="#exampleModal"
                                    @click="delete_column([[row.slice(0, 1)[0] ]])">
                                    <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>






                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <!-- NEW -->
    <div class="mt-5 row">
        <div class="col-2">
            <button class="btn btn-primary btn-sm" @click="add_chart_to_list_of_charts()">Add new Chart</button>
        </div>
    </div>

    <div id="list_of_charts" class="row mt-5">
    </div>
    <!-- NEW -->

    <div class="row mt-5">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-sm  table-hover align-middle">
                    <thead>
                        <tr>
                            <th v-for="header in table_headers">[[header]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in table_data">
                            <td v-for="item in row">[[item]]</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <br>
    <small>table_headers: [[table_headers]]</small> <br>
    <small>table_data: [[table_data]]</small> <br>
    <small>table_meta: [[table_meta]]</small> <br>
    <small>pie_chart: [[pie_chart]]</small> <br>
    <small>column_names: [[column_names]]</small> <br>

</div>


<style>
    .mystyle {
        width: 100%;
        padding: 25px;
        background-color: white;
        color: white;
        font-size: 25px;
        box-sizing: border-box;
    }
</style>


<script>

    function get_chart(id) {
        console.log('get_chart')
        console.log('id: ' + id)



        var chart_type = document.getElementById('chart_type_' + id).value
        var dimension_1 = document.getElementById('dimension_1_' + id).value
        var dimension_2 = document.getElementById('dimension_2_' + id).value
        var dimension_3 = document.getElementById('dimension_3_' + id).value
        var dimension_4 = document.getElementById('dimension_4_' + id).value

        axios.get("/get_chart", {
            params: {
                chart_type: chart_type,
                dimension_1: dimension_1,
                dimension_2: dimension_2,
                dimension_3: dimension_3,
                dimension_4: dimension_4,
            }
        }).then((response) => {
            document.getElementById('chart_img_' + id).innerHTML = response.data
        });

    } // end get_chart

    function toogle_chart(id) {
        var element = document.getElementById('pie_chart_img_' + id);
        console.log('element.style.display: ', element.style.display)

        if (element.style.display == 'none') {
            element.style.display = 'block'
        } else {
            element.style.display = 'none'
        }
    } // end toogle_chart

    new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            status: null,
            msg: null,
            table_headers: [],
            table_data: [],
            table_meta: [],
            files: null,
            column_names: [],
            pie_chart: {
                label_to_use: "",
                size_to_use: "",
            },
            number_of_charts: 0,
        },


        methods: {
            add_chart_to_list_of_charts() {
                console.log('add_chart_to_list_of_charts')
                var number = this.number_of_charts

                var options = ""
                for (var i = 0; i < this.column_names.length; i++) {
                    options += '<option value="' + this.column_names[i] + '">' + this.column_names[i] + '</option>'
                    console.log('options: ', options)
                }

                var chart_html_template = `
                    <div class="mt-4" id="chart_${number}">
                        <div>
                            <h6 class="display-6">Chart # ${number}</h6>
                            <hr>
                        </div>

                        <div class="mt-3 col-4">
                            <label for="chart_type_${number}">Chart Type</label>
                            <select  id="chart_type_${number}" class="form-control form-control-sm"
                                onchange="get_chart(${number})">
                                <option value="">Please Select</option>

                                <option value="pie_chart">pie_chart</option>
                                <option value="bar_chart">bar_chart</option>
                                <option value="line_chart">line_chart</option>
                                <option value="histogram_chat">histogram_chat</option>
                                

                            </select>
                        </div>


                        <div class="mt-3 col-4">
                            <label for="dimension_1_${number}">Dimension 1</label>
                            <select  id="dimension_1_${number}" class="form-control form-control-sm"
                                onchange="get_chart(${number})">
                                <option value="">Please Select</option>
                                ${options}
                            </select>
                        </div>
                        <div class="mt-3 col-4">
                            <label for="dimension_2_${number}">Dimension 2</label>
                            <select id="dimension_2_${number}" class="form-control form-control-sm" onchange="get_chart(${number})">
                                <option value="">Please Select</option>
                                ${options}
                            </select>
                        </div>


                        <div class="mt-3 col-4">
                            <label for="dimension_3_${number}">Dimension 3</label>
                            <select id="dimension_3_${number}" class="form-control form-control-sm" onchange="get_chart(${number})">
                                <option value="">Please Select</option>
                                ${options}
                            </select>
                        </div>
                        

                        <div class="mt-3 col-4">
                            <label for="dimension_4_${number}">Dimension 4</label>
                            <select id="dimension_4_${number}" class="form-control form-control-sm" onchange="get_chart(${number})">
                                <option value="">Please Select</option>
                                ${options}
                            </select>
                        </div>


                        <div class="mt-3 col-4">
                            <button class="btn btn-primary btn-sm" onclick="toogle_chart(${number})">Toggle Chart
                            </button>
                        </div>

                        <div class="col-12 mt-10">
                            <div id="chart_img_${number}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                `
                var node = document.createElement("div");
                node.innerHTML = chart_html_template
                document.getElementById('list_of_charts').appendChild(node)
                this.number_of_charts = this.number_of_charts + 1
            },

            download_pie_chart() {

                var link = document.createElement('a');
                link.href = 'images.jpg';
                link.download = 'Download.jpg';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

            },

            get_column_names_from_database() {
                axios.get("/get_column_names_from_database")
                    .then(response => {
                        this.column_names = response.data;
                    })

            },



            dragover(event) {
                console.log('dragover')
                event.preventDefault();
                // Add some visual fluff to show the user can drop its files
                if (!event.currentTarget.classList.contains('bg-highlight')) {
                    event.currentTarget.classList.remove('bg-gray');
                    event.currentTarget.classList.add('bg-highlight');
                }
            },
            dragleave(event) {
                console.log('dragleave')
                // Clean up
                event.currentTarget.classList.add('bg-gray');
                event.currentTarget.classList.remove('bg-highlight');
            },
            drop(event) {
                console.log('drop')
                event.preventDefault();
                event.currentTarget.classList.add('bg-gray');
                event.currentTarget.classList.remove('bg-highlight');
                this.files = event.dataTransfer.files;
                this.file_upload()

            },
            on_change(event) {
                this.files = event.target.files;
                this.file_upload()
            },

            file_upload() {
                console.log('file_upload')
                this.table_headers = []
                this.table_data = []
                this.table_meta = []

                this.msg = null
                this.status = null
                var fd = new FormData();
                for (var i = 0; i < this.files.length; i++) {
                    fd.append("files", this.files[i]);
                }
                axios.post("/file_upload", fd)
                    .then((response) => {
                        console.log(response.data);
                        this.msg = response.data.msg;
                        this.status = response.data.status;

                        this.diplay_table_data()
                        this.display_table_meta()

                    });
            }, // end file_upload 

            async diplay_table_data() {
                console.log('[+] diplay_table_data')
                axios.get('/diplay_table_data')
                    .then((response) => {
                        console.log(response.data)
                        this.table_headers = response.data.headers
                        this.table_data = response.data.data
                    })
            }, // end diplay_table_data

            async display_table_meta() {
                console.log('[+] display_table_meta')
                axios.get('/display_table_meta')
                    .then((response) => {
                        console.log(response.data)
                        this.table_meta = response.data
                        this.get_column_names_from_database()
                    })
            }, // end display_table_meta


            async change_column_type(column, event) {
                console.log('[+] change_column_type')

                console.log('column: ', column)
                console.log('datatype: ', event.target.value)

                axios.put('/change_column_type', { 'column': column[0][0], datatype: event.target.value })
                    .then((response) => {
                        console.log(response)

                        this.msg = response.data.msg;
                        this.status = response.data.status;
                        this.diplay_table_data()
                        this.display_table_meta()


                    })
            }, // end display_table_meta

            async delete_column(column) {
                console.log('[+] delete_column')
                console.log('column: ', column[0][0], typeof column[0][0])
                axios.delete('/delete_column', { params: { 'column': column[0][0] } })
                    .then((response) => {
                        console.log(response.data)
                        this.diplay_table_data()
                        this.display_table_meta()
                    })
            }, // end display_table_meta
        }, // end methods

        mounted: function () {
            this.diplay_table_data()
            this.display_table_meta()
            this.get_column_names_from_database()

            console.log("[*] app mounted");


        }, // end mounted
    }); // end vue app

</script>

{% endblock %}